<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BSServiceDomains</key>
	<dict>
		<key>com.apple.frontboard</key>
		<dict>
			<key>MachName_</key>
			<string>com.troll.frontboard.systemappservices</string>
			<key>Services</key>
			<dict>
				<key>com.apple.BacklightServices.assertions</key>
				<dict/>
				<key>com.apple.BacklightServices.backlight</key>
				<dict/>
				<key>com.apple.BacklightServices.diagnostics</key>
				<dict/>
				<key>com.apple.bannerkit.banner-context-service</key>
				<dict/>
				<key>com.apple.bannerkit.banner-host-monitor-service</key>
				<dict/>
				<key>com.apple.bannerkit.banner-source-service</key>
				<dict/>
				<key>com.apple.frontboard.layout-monitor</key>
				<dict/>
				<key>com.apple.frontboard.orientation-observer</key>
				<dict/>
				<key>com.apple.frontboard.system-service</key>
				<dict/>
				<key>com.apple.frontboard.workspace-service</key>
				<dict>
					<key>Options</key>
					<dict>
						<key>DefaultWorkspace</key>
						<string>FBSceneManager</string>
						<key>InjectEndpoint</key>
						<false/>
						<key>RegisterWorkspaces</key>
						<array>
							<string>com.apple.SpringBoard.SceneWorkspace.DruidUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.InputUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.OverlayUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.LiveTranscriptionUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.FullKeyboardAccessUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.VoiceControlUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.AssistiveTouchUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.AccessibilityUIServerUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.Ensemble</string>
							<string>com.apple.SpringBoard.SceneWorkspace.EyedropperUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.Moments</string>
							<string>com.apple.SpringBoard.SceneWorkspace.InternalPerfPowerHUD</string>
							<string>com.apple.SpringBoard.SceneWorkspace.PerfPowerHUD</string>
							<string>com.apple.SpringBoard.SceneWorkspace.CameraOverlayUI</string>
							<string>com.apple.SpringBoard.SceneWorkspace.PrototypeTools</string>
							<string>com.apple.SpringBoard.SceneWorkspace.AudioHUD</string>
						</array>
					</dict>
				</dict>
				<key>com.apple.idletimer-service</key>
				<dict/>
				<key>com.apple.pegasus.background-pip-service</key>
				<dict/>
				<key>com.apple.springboard.accessibility-component-portaling</key>
				<dict/>
				<key>com.apple.springboard.accessibility-window-hosting</key>
				<dict/>
				<key>com.apple.springboard.application-restriction-monitoring-service</key>
				<dict/>
				<key>com.apple.springboard.application-user-quit-monitor-service</key>
				<dict/>
				<key>com.apple.springboard.capture-application</key>
				<dict/>
				<key>com.apple.springboard.capture-button-restriction-service</key>
				<dict/>
				<key>com.apple.springboard.capture-intent</key>
				<dict/>
				<key>com.apple.springboard.configuration-service</key>
				<dict/>
				<key>com.apple.springboard.continuity-session-service</key>
				<dict/>
				<key>com.apple.springboard.external-display-service</key>
				<dict/>
				<key>com.apple.springboard.focus-modes-home-screen-settings-service</key>
				<dict/>
				<key>com.apple.springboard.home-screen-configuration-service</key>
				<dict/>
				<key>com.apple.springboard.homescreen</key>
				<dict/>
				<key>com.apple.springboard.in-call-presentation-service</key>
				<dict/>
				<key>com.apple.springboard.keyboard-focus-service</key>
				<dict/>
				<key>com.apple.springboard.lockscreen</key>
				<dict/>
				<key>com.apple.springboard.mitigation-session-service</key>
				<dict/>
				<key>com.apple.springboard.multitasking-shortcut-service</key>
				<dict/>
				<key>com.apple.springboard.physical-button-target-monitor-service</key>
				<dict/>
				<key>com.apple.springboard.productivity-gesture-service</key>
				<dict/>
				<key>com.apple.springboard.remote-alert-service</key>
				<dict/>
				<key>com.apple.springboard.smart-cover</key>
				<dict/>
				<key>com.apple.springboard.spotlight-activation-service</key>
				<dict/>
				<key>com.apple.springboard.switcher-demo-commands-service</key>
				<dict/>
				<key>com.apple.springboard.system-aperture-scene-request-service</key>
				<dict/>
				<key>com.apple.springboard.system-component-layout-service</key>
				<dict/>
				<key>com.apple.springboard.system-component-restriction-service</key>
				<dict/>
				<key>com.apple.springboard.system-notes-presentation-service</key>
				<dict/>
				<key>com.apple.springboard.universal-control</key>
				<dict/>
				<key>com.apple.springboard.web-clip-service</key>
				<dict/>
				<key>com.apple.springboard.widget-metrics-service</key>
				<dict/>
			</dict>
		</dict>
		<key>com.apple.posterboardui</key>
		<dict>
			<key>MachName</key>
			<string>com.apple.posterboardui.services</string>
			<key>Services</key>
			<dict>
				<key>com.apple.posterboardui.externalEditing</key>
				<dict/>
			</dict>
		</dict>
		<key>com.apple.siri.activation</key>
		<dict>
			<key>MachName</key>
			<string>com.apple.siri.activation.service</string>
			<key>Services</key>
			<dict>
				<key>com.apple.siri.activation.presentation</key>
				<dict/>
				<key>com.apple.siri.activation.signal</key>
				<dict/>
			</dict>
		</dict>
		<key>com.apple.usernotifications.systemservice</key>
		<dict>
			<key>MachName</key>
			<string>com.apple.usernotifications.systemservice</string>
			<key>Services</key>
			<dict>
				<key>com.apple.usernotifications.systemservice</key>
				<dict>
					<key>Options</key>
					<dict>
						<key>isAutomatic</key>
						<true/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>BuildMachineOSBuild</key>
	<string>22A380007</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SpringBoard</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.springboardts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SpringBoard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Accounts</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>account</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>50</string>
	<key>DNDClientDetails</key>
	<dict>
		<key>com.apple.springboard.SBDashBoardCombinedListViewController</key>
		<dict>
			<key>DNDEventBehaviorResolutionServiceOptions</key>
			<dict>
				<key>DNDEventBehaviorResolutionContextDeviceUILocked</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>20F53</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>16.5</string>
	<key>DTSDKBuild</key>
	<string>20F53</string>
	<key>DTSDKName</key>
	<string>iphoneos16.5.internal</string>
	<key>DTXcode</key>
	<string>1430</string>
	<key>DTXcodeBuild</key>
	<string>14E6097d</string>
	<key>FBDisplayManagerTransformer</key>
	<string>SBFBSDisplayTransformer</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>16.5</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_RS-StateDmpSrvc._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>RS-StateDmpSrvc</string>
	<key>NSPrincipalClass</key>
	<string>SpringBoard</string>
	<key>UIApplicationInitializationContextFactoryClass</key>
	<string>SpringBoard</string>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<true/>
	<key>UIApplicationSystemWindowsSecureKey</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHiddenWhenVerticallyCompact</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIViewGroupOpacity</key>
	<false/>
	<key>_CFBundleUseAppleLocalizations</key>
	<true/>
	<key>_UIRequiresGameControllerBasedFocus</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict/>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
